export default {
  pg: {
    host: 'localhost',
    port: 5432,
    username: 'postgres',
    password: 'postgres',
    database: 'calendar',
  },
  redis: {
    host: 'localhost',
    port: 6379,
  },
  greensms: {
    url: 'https://api3.greensms.ru',
    account: {
      user: 'xxx',
      pass: 'xxx',
      from: 'xxx',
    },
  },
};
